/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('Noto_Sans/noto-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('Noto_Sans/noto-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Noto_Sans/noto-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Noto_Sans/noto-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('Noto_Sans/noto-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Noto_Sans/noto-sans-v6-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('Noto_Sans/noto-sans-v6-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('Noto_Sans/noto-sans-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Noto_Sans/noto-sans-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('Noto_Sans/noto-sans-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('Noto_Sans/noto-sans-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Noto_Sans/noto-sans-v6-latin-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* play-700 - latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('play/play-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Play Bold'), local('Play-Bold'),
       url('play/play-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('play/play-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('play/play-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('play/play-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('play/play-v7-latin-700.svg#Play') format('svg'); /* Legacy iOS */
}
